<tr>
  <td><%= @page * Settings.paginate.per_page + artist_counter - 4 %></td>
  <td><%= link_to artist.name, admin_artist_path(artist) %></td>
  <td><%= artist.songs.size %></td>
  <td>
    <%= link_to edit_admin_artist_path(artist) do %>
      <span class="glyphicon glyphicon-pencil btn-xs btn-warning"></span>
    <% end %>
    <%= link_to admin_artist_path(artist), method: :delete,
      data: {confirm: t("confirm")} do %>
      <span class="glyphicon glyphicon-trash btn-xs btn-danger"></span>
    <% end %>
  </td>
</tr>
