<% provide :title, t(".title") %>
<% provide :submit, t(".create") %>
<h1><%= t ".title" %></h1>
<%= form_for @song do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>

  <div class="form-group">
    <%= f.label :artist %>
    <%= f.select :artist_id, @artists, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :genre %>
    <%= f.select :genre_id, @genres, {}, class: "form-control" %>
  </div>

  <%= f.label :file %>
  <%= f.file_field :file %>

  <%= f.label :picture %>
  <%= f.file_field :picture %>

  <%= f.submit yield(:submit) , class: "btn btn-primary" %>
<% end %>
