<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid">
      <div class="row content-work">
        <div class="col-md-2 admin-sidebar">
        <ul>
          <li><%= link_to t(".user"), admin_users_path %></li>
          <li><%= link_to t(".artist"), admin_artists_path %></li>
          <li><%= link_to t(".song"), "#" %></li>
          <li><%= link_to t(".genre"), admin_genres_path %></li>
        </ul>
        </div>
        <div class="content col-md-10 col-md-offset-2">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type} set-timeout" %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
